body{
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: monospace;
    font-size: 13px;
    line-height: 24px;
    overscroll-behavior: none;
}

a{
    color: #ff0;
    text-decoration: none;
}

